$h1-clr: aqua;
$bg-clr: #252525;
$clr: #fff;
$font-fam: 'Convergence', sans-serif; 

body {
  font-family: $font-fam;
  background-color: $bg-clr;
  color: $clr;
}

h1 {
  color: $h1-clr;
  text-align: center;
}

.App-h4 {
  text-align: center;
  color: skyblue;
  opacity: 0.4;
}

.nav-link {
  color: burlywood;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 350ms ease;

  &:hover {
    color: #fff;
  }
}

.active {
  color: aqua;
  font-weight: 900;
}

button[data-clr="red"] {
  color: aqua;
  background-color: darkblue;
  border: 2px solid aqua;
  border-radius: 1rem;
  cursor: pointer;
}